<div id="bottom">
	<div class="wrap">
		<ul>
                <li><a href="<%=index_path%>" >O Bolão</a></li>
                <li><a href="<%=regras_path%>" >Regras</a></li>
                <li><a href="<%=ranking_path%>" >Cadastro</a></li>
                <li><a href="<%=cadastro_path%>" >Ranking</a></li>
      	</ul>         
		<div class="copyright">
      <p>-----------------------------------------</p>
      <p>Administrador: Gilliard Alan</p>
      <p>Email: gilalan@gmail.com</p>
      <p>-----------------------------------------</p>
		</div>
	</div>
</div>