<div id="bottom">
	<div class="wrap">
		<ul>
                <li><a href="<%=index_path%>" >O Bolão</a></li>
                <li><a href="<%=regras_path%>" >Regras</a></li>
                <li><a href="<%=ranking_path%>" >Cadastro</a></li>
                <li><a href="<%=cadastro_path%>" >Ranking</a></li>
      	</ul>         
		<div class="copyright">
      <p>Quadrit TI, Ideias e Soluções</p>
      <p>Email: contato@quadrit.com.br</p>
			<p>Endereço: Rua do Apolo, 181, Bairro do Recife</p>
      <p>CEP: 50030-220</p>
		</div>
	</div>
</div>