<h2>O Bolão</h2>
<h3>E aí galera, esse é o bolão da Copa do Mundo 2014! Cada amigo que quiser entrar deve pagar R$20,00, dos quais R$5,00 são destinados a criação/manutenção do sistema e R$15,00 vão para premiação final. Quem fizer mais pontos ao final da competição vai levar o valor total apostado por todos os componentes. A competição começa dia 12 de junho e termina dia 13 de julho. Abaixo segue o calendário com os dias e os correspondentes jogos da copa. Deem uma olhada no link de "Regras" para melhor entendimento do esquema de pontuação e dos palpites pra os jogos.
</h3>

<h2>Calendário de Jogos</h2>
<div class="proj_group">	
	<ul>
		<li>
			<table>
				<caption>GRUPO A</caption>
				<thead>
					<tr class="last">
						<th class="l teamname" colspan="2">Equipe</th>
						<th class="c"><abbr title="Pontos">Pts</abbr></th>
					</tr>
				</thead>
				<tbody>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_bra"></span></td>
						<td class="teamname"><a href="">BRA</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_cro"></span></td>
						<td class="teamname"><a href="">CRO</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_mex"></span></td>
						<td class="teamname"><a href="">MEX</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class="last">
						<td class="flag"><span class="flagsp flagsp_cmr"></span></td>
						<td class="teamname"><a href="">CMR</a></td>
						<td class="c pts">0</td>
					</tr>
				</tbody>
			</table>
		</li>
		<li>
			<table>
				<caption>GRUPO B</caption>
				<thead>
					<tr class="last">
						<th class="teamname" colspan="2">Equipe</th>
						<th class="c"><abbr title="Pontos">Pts</abbr></th>
					</tr>
				</thead>
				<tbody>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_esp"></span></td>
						<td class="teamname"><a href="">ESP</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_hol"></span></td>
						<td class="teamname"><a href="">HOL</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_chi"></span></td>
						<td class="teamname"><a href="">CHI</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class="last">
						<td class="flag"><span class="flagsp flagsp_aus"></span></td>
						<td class="teamname"><a href="">AUS</a></td>
						<td class="c pts">0</td>
					</tr>
				</tbody>
			</table>
		</li>
		<li>
			<table>
				<caption>GRUPO C</caption>
				<thead>
					<tr class="last">
						<th class="teamname" colspan="2">Equipe</th>
						<th class="c"><abbr title="Pontos">Pts</abbr></th>
					</tr>
				</thead>
				<tbody>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_col"></span></td>
						<td class="teamname"><a href="">COL</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_gre"></span></td>
						<td class="teamname"><a href="">GRE</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_cmf"></span></td>
						<td class="teamname"><a href="">CMF</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class="last">
						<td class="flag"><span class="flagsp flagsp_jap"></span></td>
						<td class="teamname"><a href="">JAP</a></td>
						<td class="c pts">0</td>
					</tr>
				</tbody>
			</table>
		</li>
		<li>
			<table>
				<caption>GRUPO D</caption>
				<thead>
					<tr class="last">
						<th class="teamname" colspan="2">Equipe</th>
						<th class="c"><abbr title="Pontos">Pts</abbr></th>
					</tr>
				</thead>
				<tbody>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_uru"></span></td>
						<td class="teamname"><a href="">URU</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_crc"></span></td>
						<td class="teamname"><a href="">CRC</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_ing"></span></td>
						<td class="teamname"><a href="">ING</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class="last">
						<td class="flag"><span class="flagsp flagsp_ita"></span></td>
						<td class="teamname"><a href="">ITA</a></td>
						<td class="c pts">0</td>
					</tr>
				</tbody>
			</table>
		</li>

		<li>
			<table>
				<caption>GRUPO E</caption>
				<thead>
					<tr class="last">
						<th class="teamname" colspan="2">Equipe</th>
						<th class="c"><abbr title="Pontos">Pts</abbr></th>
					</tr>
				</thead>
				<tbody>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_sui"></span></td>
						<td class="teamname"><a href="">SUI</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_equ"></span></td>
						<td class="teamname"><a href="">EQU</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_fra"></span></td>
						<td class="teamname"><a href="">FRA</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class="last">
						<td class="flag"><span class="flagsp flagsp_hon"></span></td>
						<td class="teamname"><a href="">HON</a></td>
						<td class="c pts">0</td>
					</tr>
				</tbody>
			</table>
		</li>

		<li>
			<table>
				<caption>GRUPO F</caption>
				<thead>
					<tr class="last">
						<th class="teamname" colspan="2">Equipe</th>
						<th class="c"><abbr title="Pontos">Pts</abbr></th>
					</tr>
				</thead>
				<tbody>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_arg"></span></td>
						<td class="teamname"><a href="">ARG</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_bos"></span></td>
						<td class="teamname"><a href="">BOS</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_ira"></span></td>
						<td class="teamname"><a href="">IRA</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class="last">
						<td class="flag"><span class="flagsp flagsp_nig"></span></td>
						<td class="teamname"><a href="">NIG</a></td>
						<td class="c pts">0</td>
					</tr>
				</tbody>
			</table>
		</li>

		<li>
			<table>
				<caption>GRUPO G</caption>
				<thead>
					<tr class="last">
						<th class="teamname" colspan="2">Equipe</th>
						<th class="c"><abbr title="Pontos">Pts</abbr></th>
					</tr>
				</thead>
				<tbody>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_ale"></span></td>
						<td class="teamname"><a href="">ALE</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_por"></span></td>
						<td class="teamname"><a href="">POR</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_gan"></span></td>
						<td class="teamname"><a href="">GAN</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class="last">
						<td class="flag"><span class="flagsp flagsp_eua"></span></td>
						<td class="teamname"><a href="">EUA</a></td>
						<td class="c pts">0</td>
					</tr>
				</tbody>
			</table>
		</li>

		<li>
			<table>
				<caption>GRUPO H</caption>
				<thead>
					<tr class="last">
						<th class="teamname" colspan="2">Equipe</th>
						<th class="c"><abbr title="Pontos">Pts</abbr></th>
					</tr>
				</thead>
				<tbody>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_bel"></span></td>
						<td class="teamname"><a href="">BEL</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_alg"></span></td>
						<td class="teamname"><a href="">ALG</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class>
						<td class="flag"><span class="flagsp flagsp_rus"></span></td>
						<td class="teamname"><a href="">RUS</a></td>
						<td class="c pts">0</td>
					</tr>
					<tr class="last">
						<td class="flag"><span class="flagsp flagsp_cor"></span></td>
						<td class="teamname"><a href="">COR</a></td>
						<td class="c pts">0</td>
					</tr>
				</tbody>
			</table>
		</li>
	</ul>
	
</div>

<div class="proj_group last_element">
	<h4>QUI 12/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>17h</td>
		<td>1</td>
		<td>Brasil  x  Croácia</td>
		<td>Arena Corinthians</td>
		</tr>
		</tbody>
	</table>

	<h4>SEX 13/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>1</td>
		<td>México  x  Camarões</td>
		<td>Arena das Dunas</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>1</td>
		<td>Espanha  x  Holanda</td>
		<td>Fonte Nova</td>
		</tr>
		<tr>
		<td>19h</td>
		<td>1</td>
		<td>Chile  x  Austrália</td>
		<td>Arena Pantanal</td>
		</tr>
		</tbody>
	</table>
		
	<h4>SAB 14/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>1</td>
		<td>Colômbia  x  Grécia</td>
		<td>Mineirão</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>1</td>
		<td>Uruguai  x  Costa Rica</td>
		<td>Castelão</td>
		</tr>
		<tr>
		<td>18h</td>
		<td>1</td>
		<td>Inglaterra  x  Itália</td>
		<td>Arena da Amazônia</td>
		</tr>
		<tr>
		<td>22h</td>
		<td>1</td>
		<td>Costa do Marfim  x  Japão</td>
		<td>Arena Pernambuco</td>
		</tr>
		</tbody>
	</table>
	<h4>DOM 15/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>1</td>
		<td>Suíça  x  Equador</td>
		<td>Mané Garrincha</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>1</td>
		<td>França  x  Honduras</td>
		<td>Beira Rio</td>
		</tr>
		<tr>
		<td>19h</td>
		<td>1</td>
		<td>Argentina  x  Bósnia</td>
		<td>Maracanã</td>
		</tr>
		</tbody>
	</table>
	<h4>SEG 16/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>1</td>
		<td>Alemanha  x  Portugal</td>
		<td>Fonte Nova</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>1</td>
		<td>Irã  x  Nigéria</td>
		<td>Arena da Baixada</td>
		</tr>
		<tr>
		<td>19h</td>
		<td>1</td>
		<td>Gana  x  Eua</td>
		<td>Arena das Dunas</td>
		</tr>
		</tbody>
	</table>
	<h4>TER 17/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>1</td>
		<td>Bélgica  x  Argélia</td>
		<td>Mineirão</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>1</td>
		<td>Brasil  x  México</td>
		<td>Fonte Nova</td>
		</tr>
		<tr>
		<td>19h</td>
		<td>1</td>
		<td>Rússia  x  Coréia do Sul</td>
		<td>Arena Pantanal</td>
		</tr>
		</tbody>
	</table>
	<h4>QUA 18/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>2</td>
		<td>Austrália  x  Holanda</td>
		<td>Beira Rio</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>2</td>
		<td>Espanha  x  Chile</td>
		<td>Maracanã</td>
		</tr>
		<tr>
		<td>18h</td>
		<td>2</td>
		<td>Camarões  x  Croácia</td>
		<td>Arena da Amazônia</td>
		</tr>
		</tbody>
	</table>
	<h4>QUI 19/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>2</td>
		<td>Colômbia  x  Costa do Marfim</td>
		<td>Mané Garrincha</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>2</td>
		<td>Uruguai  x  Inglaterra</td>
		<td>Arena Corinthians</td>
		</tr>
		<tr>
		<td>19h</td>
		<td>2</td>
		<td>Grécia  x  Japão</td>
		<td>Arena das Dunas</td>
		</tr>
		</tbody>
	</table>
	<h4>SEX 20/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>2</td>
		<td>Costa Rica  x  Itália</td>
		<td>Arena Pernambuco</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>2</td>
		<td>Suíça  x  França</td>
		<td>Fonte Nova</td>
		</tr>
		<tr>
		<td>19h</td>
		<td>2</td>
		<td>Honduras  x  Equador</td>
		<td>Arena da Baixada</td>
		</tr>
		</tbody>
	</table>
	<h4>SAB 21/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>2</td>
		<td>Argentina  x  Irã</td>
		<td>Mineirão</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>2</td>
		<td>Alemanha  x  Gana</td>
		<td>Castelão</td>
		</tr>
		<tr>
		<td>19h</td>
		<td>2</td>
		<td>Nigéria  x  Bósnia</td>
		<td>Arena Pantanal</td>
		</tr>
		</tbody>
	</table>
	<h4>DOM 22/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>2</td>
		<td>Bélgica  x  Rússia</td>
		<td>Maracanã</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>2</td>
		<td>Coréia do Sul  x  Argélia</td>
		<td>Beira Rio</td>
		</tr>
		<tr>
		<td>18h</td>
		<td>2</td>
		<td>Eua  x  Portugal</td>
		<td>Arena da Amazônia</td>
		</tr>
		</tbody>
	</table>
	<h4>SEG 23/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>3</td>
		<td>Austrália  x  Espanha</td>
		<td>Arena da Baixada</td>
		</tr>
		<tr>
		<td>13h</td>
		<td>3</td>
		<td>Holanda  x  Chile</td>
		<td>Arena Corinthians</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>3</td>
		<td>Camarões  x  Brasil</td>
		<td>Mané Garrincha</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>3</td>
		<td>Croácia  x  México</td>
		<td>Arena Pernambuco</td>
		</tr>
		</tbody>
	</table>
	<h4>TER 24/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>3</td>
		<td>Itália  x  Uruguai</td>
		<td>Arena das Dunas</td>
		</tr>
		<tr>
		<td>13h</td>
		<td>3</td>
		<td>Costa Rica  x  Inglaterra</td>
		<td>Mineirão</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>3</td>
		<td>Japão  x  Colômbia</td>
		<td>Arena Pantanal</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>3</td>
		<td>Grécia  x  Costa do Marfim</td>
		<td>Castelão</td>
		</tr>
		</tbody>
	</table>
	<h4>QUA 25/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>3</td>
		<td>Nigéria  x  Argentina</td>
		<td>Beira Rio</td>
		</tr>
		<tr>
		<td>13h</td>
		<td>3</td>
		<td>Bósnia  x  Irã</td>
		<td>Fonte Nova</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>3</td>
		<td>Honduras  x  Suíça</td>
		<td>Arena da Amazônia</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>3</td>
		<td>Equador  x  França</td>
		<td>Maracanã</td>
		</tr>
		</tbody>
	</table>
	<h4>QUI 26/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>3</td>
		<td>Eua  x  Alemanha</td>
		<td>Arena Pernambuco</td>
		</tr>
		<tr>
		<td>13h</td>
		<td>3</td>
		<td>Portugal  x  Gana</td>
		<td>Mané Garrincha</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>3</td>
		<td>Coréia do Sul  x  Bélgica</td>
		<td>Arena Corinthians</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>3</td>
		<td>Argélia  x  Rússia</td>
		<td>Arena da Baixada</td>
		</tr>
		</tbody>
	</table>
	<h4>SAB 28/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>Oitavas de Final (OF1)</td>
		<td>Primeiro A  x  Segundo B</td>
		<td>Mineirão</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>Oitavas de Final (OF2)</td>
		<td>Primeiro C  x  Segundo D</td>
		<td>Maracanã</td>
		</tr>
		</tbody>
	</table>
	<h4>DOM 29/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>Oitavas de Final (OF3)</td>
		<td>Primeiro B  x  Segundo A</td>
		<td>Castelão</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>Oitavas de Final (OF4)</td>
		<td>Primeiro D  x  Segundo C</td>
		<td>Arena Pernambuco</td>
		</tr>
		</tbody>
	</table>
	<h4>SEG 30/06/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>Oitavas de Final (OF5)</td>
		<td>Primeiro E  x  Segundo F</td>
		<td>Mané Garrincha</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>Oitavas de Final (OF6)</td>
		<td>Primeiro G  x  Segundo H</td>
		<td>Beira Rio</td>
		</tr>
		</tbody>
	</table>
	<h4>TER 01/07/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>Oitavas de Final (OF7)</td>
		<td>Primeiro F  x  Segundo E</td>
		<td>Arena Corinthians</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>Oitavas de Final (OF8)</td>
		<td>Primeiro H  x  Segundo G</td>
		<td>Arena Fonte Nova</td>
		</tr>
		</tbody>
	</table>
	<h4>SEX 04/07/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>Quartas de Final (QF1)</td>
		<td>Vencedor OF5  x  Vencedor OF6</td>
		<td>Maracanã</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>Quartas de Final (QF2)</td>
		<td>Vencedor OF1  x  Vencedor OF2</td>
		<td>Castelão</td>
		</tr>
		</tbody>
	</table>
	<h4>SAB 05/07/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>Quartas de Final (QF3)</td>
		<td>Vencedor OF7  x  Vencedor OF8</td>
		<td>Mané Garrincha</td>
		</tr>
		<tr>
		<td>17h</td>
		<td>Quartas de Final (QF4)</td>
		<td>Vencedor OF3  x  Vencedor OF4</td>
		<td>Fonte Nova</td>
		</tr>
		</tbody>
	</table>
	<h4>TER 08/07/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>17h</td>
		<td>Semi Final (SF1)</td>
		<td>Vencedor QF1  x  Vencedor QF2</td>
		<td>Mineirão</td>
		</tr>
		</tbody>
	</table>
	<h4>QUA 09/07/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>17h</td>
		<td>Semi Final (SF2)</td>
		<td>Vencedor QF3  x  Vencedor QF4</td>
		<td>Arena Corinthians</td>
		</tr>
		</tbody>
	</table>
	<h4>SAB 12/07/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>17h</td>
		<td>Disputa de 3º Lugar</td>
		<td>Perdedor SF1  x  Perdedor SF2</td>
		<td>Mané Garrincha</td>
		</tr>
		</tbody>
	</table>
	<h4>DOM 13/07/2014</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>16h</td>
		<td>Final</td>
		<td>Vencedor SF1  x  Vencedor SF2</td>
		<td>Maracanã</td>
		</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	
	jQuery(function(){

		jQuery(jQuery("#header #menu ul li")[0]).find("p").addClass("current");
	});
	
</script>