<h2>O Bolão</h2>
<h3>E aí galera, esse é o bolão da Copa das Confederações 2013! Cada pessoa que quiser entrar deve pagar R$10,00 e quem fizer mais pontos ao final da competição vai levar o valor total apostado por todos os componentes. A competição começa dia 15 de junho e termina dia 30 de junho. Abaixo segue o calendário com os dias e os correspondentes jogos da copa. Dêem uma olhada no link de "Regras" para melhor entendimento do esquema de pontuação e dos palpites pra os jogos.
</h3>

<h2>Calendário de Jogos</h2>
<div class="proj_group">
	<div>
		<img src="<%=asset_path('calendario.jpg')%>"/>
	</div>
	<span>
		<img src="<%=asset_path('groupa.png')%>"/>
		<img src="<%=asset_path('groupb.png')%>"/>
	</span>
</div>

<div class="proj_group last_element">
	<h4>DIA 15</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>16h</td>
		<td>1</td>
		<td>Brasil  x  Japão</td>
		<td>Estádio Nacional</td>
		</tr>
		</tbody>
	</table>

	<h4>DIA 16</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>16h</td>
		<td>1</td>
		<td>México  x  Itália</td>
		<td>Maracanã</td>
		</tr>
		<tr>
		<td>19h</td>
		<td>1</td>
		<td>Espanha  x  Uruguai</td>
		<td>Arena Pernambuco</td>
		</tr>
		</tbody>
	</table>
		
	<h4>DIA 17</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>16h</td>
		<td>1</td>
		<td>Taiti  x  Nigéria</td>
		<td>Mineirão</td>
		</tr>
		</tbody>
	</table>
	<h4>DIA 19</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>16h</td>
		<td>2</td>
		<td>Brasil  x  México</td>
		<td>Castelão</td>
		</tr>
		<tr>
		<td>19h</td>
		<td>2</td>
		<td>Itália  x  Japão</td>
		<td>Arena Pernambuco</td>
		</tr>
		</tbody>
	</table>
	<h4>DIA 20</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>16h</td>
		<td>2</td>
		<td>Espanha  x  Taiti</td>
		<td>Maracanã</td>
		</tr>
		<tr>
		<td>19h</td>
		<td>2</td>
		<td>Nigéria  x  Uruguai</td>
		<td>Fonte Nova</td>
		</tr>
		</tbody>
	</table>
	<h4>DIA 22</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>16h</td>
		<td>3</td>
		<td>Japão  x  México</td>
		<td>Mineirão</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>3</td>
		<td>Itália  x  Brasil</td>
		<td>Fonte Nova</td>
		</tr>
		</tbody>
	</table>
	<h4>DIA 23</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>16h</td>
		<td>3</td>
		<td>Nigéria  x  Espanha</td>
		<td>Castelão</td>
		</tr>
		<tr>
		<td>16h</td>
		<td>3</td>
		<td>Uruguai  x  Taiti</td>
		<td>Arena Pernambuco</td>
		</tr>
		</tbody>
	</table>
	<h4>DIA 26</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>16h</td>
		<td>Semifinal 1</td>
		<td>Vencedor A  x  Segundo B</td>
		<td>Mineirão</td>
		</tr>
		</tbody>
	</table>
	<h4>DIA 27</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>16h</td>
		<td>Semifinal 2</td>
		<td>Vencedor B  x  Segundo A</td>
		<td>Castelão</td>
		</tr>
		</tbody>
	</table>
	<h4>DIA 30</h4>
	<table width="100%" border="0" cellpadding="2" cellspacing="0" class="calendarioDisputa">
		<tbody><tr class="localTarja">
		<td style="width: 80px;"><b>Horário</b></td>
		<td style="width: 100px;"><b>Rodada</b></td>
		<td style="width: 200px;"><b>Jogo</b></td>
		<td style="width: 220px;"><b>Local</b></td>
		</tr>
		<tr>
		<td>13h</td>
		<td>3º lugar</td>
		<td>  x  </td>
		<td>Fonte Nova</td>
		</tr>
		<tr>
		<td>19h</td>
		<td>Final</td>
		<td>  x  </td>
		<td>Maracanã</td>
		</tr>
		</tbody>
	</table>
</div>

<script type="text/javascript">
	
	jQuery(function(){

		jQuery(jQuery("#header #menu ul li")[0]).find("p").addClass("current");
	});
	
</script>