<h2>Regra para os Palpites</h2>
<h3>
	Os palpites dos jogos devem ser inseridos e editados até 30 minutos antes de cada partida, após isso, não será mais permitido a inserção/edição do palpite. 
	Após terminar esse tempo limite para inserção/edição dos palpites, será liberado a página de "transparência dos resultados para próxima partida", onde cada pessoa poderá visualizar os placares inseridos pelos outros participantes, tornando o bolão transparente para ninguém chorar depois dizendo que teve arrumadinho ;)
</h3>
<h2>Regra de Pontuação</h2>
<h3>
	<ul>
		<li>
			10 pontos: acertou o <b>placar exato</b> da partida.
		</li>
		<li>
			07 pontos: acertou o <b>resultado (quem venceu ou perdeu)</b> mas só acertou o número de gols de uma das equipes.
		</li>
		<li>
			05 pontos: acertou o <b>resultado (vencedor, perdedor ou empate)</b>, porém não acertou o número de gols de nenhuma das equipes.
		</li>
		<li>
			02 pontos: errou o <b>resultado (vencedor, perdedor ou empate)</b>, porém acertou o número de gols de uma das equipes.
		</li>
		<li>
			00 pontos: acertar PN.
		</li>
	</ul>
	<br>
	Exemplos de pontuação para um jogo com placar: Brasil 3 x 0 França.
	<br>
	<br>
	<ul>
		<li>
			João colocou Bra 3 x 0 Fra, ganhou 10 pontos pois acertou o placar exato da partida.
		</li>
		<li>
			José colocou Bra 3 x 1 Fra, ganhou 07 pontos pois acertou o resultado (Brasil venceu) e acertou o número de gols do Brasil.
		</li>
		<li>
			Marcos colocou Bra 4 x 0 Fra, ganhou 07 pontos pois acertou o resultado (Brasil venceu) e acertou o número de gols da França.		
		</li>
		<li>
			Lucas colocou Bra 2 x 1 Fra, ganhou 05 pontos pois acertou o resultado (Brasil venceu) mas errou o número de gols marcados por cada equipe.
		</li>
		<li>
			Silva colocou Bra 0 x 0 Fra, ganhou 02 pontos pois errou o resultado (Brasil venceu, ele colocou empate) mas acertou o número de gols de uma das equipes (da França no caso).
		</li>
		<li>
			Gilliard colocou Brasil 0 x 1 França, errou o resultado (Brasil venceu e ele colocou vitória da França) e errou também o número de gols de cada equipe.
		</li>
	</ul>
</h3>

<script type="text/javascript">
	
	jQuery(function(){

		jQuery(jQuery("#header #menu ul li")[1]).find("p").addClass("current");
	});
	
</script>
