<div class="wrap_hint">
  <%= render :partial => 'hints/left_sidebar', :locals => {:user_id => @user.id, :var_control => '2'} %>
  <div class="right_container">
  	<h2>Edite seus Dados</h2>
  	<%= render :partial => 'form' %>
  </div>
</div>


