<h2>Cadastrar Novo Participante</h2>

<%= render :partial => "form", :locals => {:input_value => 'Cadastrar'} %>

<script type="text/javascript">
	
	jQuery(function(){

		jQuery(jQuery("#header #menu ul li")[2]).find("p").addClass("current");
	});
	
</script>
