// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admin_teams_div {
		
	a:link, a:visited, a:active {
		text-decoration: none;
		color: #F31414;
	}	
}