<h1>Editing match_result</h1>

<%= render 'form' %>

<%= link_to 'Show', @match_result %> |
<%= link_to 'Back', match_results_path %>

<style type="text/css">
  body {
    background-color: #CCC;
  }
</style>